
$salmon: #FFBBAF;
$blue: #3D3D3D;
$purple: #9C0FFA;


.header{
    
    width: 100vw;
    text-align: center;

    
    
    height: 30vh;

    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    
    font-family: Helvetica;
    color: #303A57;
    
    

}

.header img{
    max-height: 20vh;
    max-width: 20vw;
    margin-right: 20px;
}
.header h1{
    margin: 0;
    padding: 0;
    padding: 10px;
    background: white;
    border-radius: 10px;

    
}


.elems{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.elem{
    height: 20vh;
    width: 15vw;
    border-radius: 10px;
    background: white;
    
    
    

    margin: 5vh;

    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.elem:hover{
    background: black;
    color: white;
    cursor: pointer;
}

a{
   
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

.elem p{
    margin: 0;
    padding: 0;
    

    margin-top: 5px;
    text-align: center;
  
}

.elem-img{
    max-height: 15vh;
    width: 15vw; 

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



@media screen and (max-device-width : 480px) {

    .elems{
        display: table-cell;
        vertical-align: middle;
        text-align: center; /* requerido para alineación horizontal */
       
    }
    .elem{
        display: inline-block;
        text-align: center;
        width: 50vw;
        height: 20vh;
    }

    .elem img{
        width: 50vw;
        max-height: 15vh;
    }
}
