<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="card-title">Tenis</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/tenis.jpeg">
    <mat-card-content>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et aliquam ante, id congue arcu. Pellentesque vitae purus quis enim commodo sollicitudin.
        Praesent id felis nec est imperdiet imperdiet vitae sed nisi. Vivamus pulvinar non augue ut sodales.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button href="https://www.google.com/" class="card-button">Saber más</a>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="card-title">Baloncesto</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/baloncesto.jpeg">
    <mat-card-content>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et aliquam ante, id congue arcu. Pellentesque vitae purus quis enim commodo sollicitudin.
        Praesent id felis nec est imperdiet imperdiet vitae sed nisi. Vivamus pulvinar non augue ut sodales.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button href="https://www.google.com/" class="card-button">Saber más</a>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="card-title">Voleybol</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/voley.jpeg">
    <mat-card-content>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et aliquam ante, id congue arcu. Pellentesque vitae purus quis enim commodo sollicitudin.
        Praesent id felis nec est imperdiet imperdiet vitae sed nisi. Vivamus pulvinar non augue ut sodales.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button href="https://www.google.com/" class="card-button">Saber más</a>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="card-title">Fútbol</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/futbol.jpeg">
    <mat-card-content>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et aliquam ante, id congue arcu. Pellentesque vitae purus quis enim commodo sollicitudin.
        Praesent id felis nec est imperdiet imperdiet vitae sed nisi. Vivamus pulvinar non augue ut sodales.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button href="https://www.google.com/" class="card-button">Saber más</a>
    </mat-card-actions>
</mat-card>