.card{
    width: 50vw;
    justify-content: center;
    align-items: center;
    margin-left: 25vw;
}

.desc{
    font-family: Arial;
    font-size: 2vh;
}

.card-title{
    font-family: Arial;
    font-size: 6vh;
}

.card-button{
    width:10vw;
    font-size:1vw;
    font-family: Arial, Helvetica, sans-serif;
}